<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Personagem')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="container app-container pt-4">

    <h2 th:text="${personagem.id != null ? 'Editar Personagem' : 'Novo Personagem'}"></h2>

    <form th:action="@{/personagens}" th:object="${personagem}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" th:field="*{nome}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Jogador</label>
            <input class="form-control" th:field="*{jogador}"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Nível</label>
            <input type="number" class="form-control" th:field="*{nivel}" min="1" max="20"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Poderes</label>
            <select class="form-select"
                    th:field="*{poderes}"
                    multiple>
                <option th:each="p : ${poderes}"
                        th:value="${p.id}"
                        th:text="${p.nome}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Magias</label>
            <select class="form-select"
                    th:field="*{magias}"
                    multiple>
                <option th:each="m : ${magias}"
                        th:value="${m.id}"
                        th:text="${m.nome}">
                </option>
            </select>
        </div>

        <button class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" th:href="@{/personagens}">Cancelar</a>

    </form>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
