<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Personagens')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<div th:replace="~{fragments/messages :: messages}"></div>

<main class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Personagens</h2>
        <a class="btn btn-primary" th:href="@{/personagens/novo}">Novo Personagem</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Nível</th>
            <th>Jogador</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${personagens}">
            <td th:text="${p.nome}">Nome</td>
            <td th:text="${p.nivel}">Nivel</td>
            <td th:text="${p.jogador}">Jogador</td>

            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/personagens/editar/' + ${p.id}}">Editar</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/personagens/deletar/' + ${p.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>

    </table>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
