<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Ameaças')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<div th:replace="~{fragments/messages :: messages}"></div>

<main class="container app-container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h2>Ameaças</h2>
        <a class="btn btn-primary" th:href="@{/ameacas/novo}">Nova Ameaça</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Nível</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a : ${ameacas}">
            <td th:text="${a.nome}">Nome</td>
            <td th:text="${a.tipo}">Tipo</td>
            <td th:text="${a.nivel}">Nivel</td>

            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/ameacas/editar/' + ${a.id}}">Editar</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/ameacas/deletar/' + ${a.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>

    </table>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
