<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Magias')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/messages :: messages}"></div>

<main class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h2>Magias</h2>
        <a class="btn btn-primary" th:href="@{/magias/novo}">Nova Magia</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Círculo</th>
            <th>Escola</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="m : ${magias}">
            <td th:text="${m.nome}">Nome</td>
            <td th:text="${m.circulo}">Círculo</td>
            <td th:text="${m.escola}">Escola</td>

            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/magias/editar/' + ${m.id}}">Editar</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/magias/deletar/' + ${m.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>

    </table>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
